<div class="row fish">
  <div class="col m2 s3">
    <span class="star star{{fish.stars}}"></span>
  </div>
  <div class="col m4 s9"><b>{{fish.name}}</b></div>
  <div class="col m2 s-hide">{{fish.gold}} G</div>
  <div class="col m4 s12">{{#bait-detail baits=fish.baits}}{{/bait-detail}}</div>
</div>
