<div class="row fish">
  <div class="col m4 s8">{{fish.name}}</div>
  <div class="col m2 s4">
    <span class="star star{{fish.stars}}"></span>
  </div>
  <div class="col m2 s3">{{fish.gold}} G</div>
  <div class="col m4 s9">{{#bait-detail baits=fish.baits}}{{/bait-detail}}</div>
</div>
