<li class="collection-item spot" spot-type="{{spot.type}}">
  <span class="spot-name">{{spot.name}}</span>
  <div class="fishList">
    {{#each spot.fish as |fish|}}
  		{{fish-inline-detail fish=fish}}
  	{{/each}}
  </div>
</li>
