<li class="collection-item spot" spot-type="C">
  <span class="spot-name">Fishing Spot Coast</span>
  <div class="fishList">
    <div class="row fish">
      <div class="col s2">One Star Fish</div>
      <div class="col s2">
        <span class="star star1"></span>
      </div>
    </div>
    <div class="row fish">
      <div class="col s2">Two Star Fish</div>
      <div class="col s2">
        <span class="star star2"></span>
      </div>
    </div>
    <div class="row fish">
      <div class="col s2">Three Star Fish</div>
      <div class="col s2">
        <span class="star star3"></span>
      </div>
    </div>
  </div>
</li>
