$materialize-break-small: 600px;

// Colors
$coast: #27790c;
$river: #0c7ba0;
$lake:  #c564f7;
$deep:  #582e02;

//Styles

.fishList {
	.row:nth-child(odd){
		background-color: $lighterGrey;
	}
	.row{
    	margin-bottom: 2px;
    }
}

.island-name{
	font-weight: bold;
}

.spot{

	/* Style for Coast fishing Spot name*/
	&[spot-type="C"] .spot-name{
		color: $coast;
	}

	/* Style for River fishing Spot name*/
	&[spot-type="R"] .spot-name{
		color: $river;
	}

	/* Style for Lake/Pond fishing Spot name*/
	&[spot-type="L"] .spot-name{
		color: $lake;
	}

	/* Style for Deep Sea fishing Spot name*/
	&[spot-type="D"] .spot-name{
		color: $deep;
	}

	.spot-name{
		font-weight: bold;
	}
}

.star{
	height:21px;
	width:60px;
	display:block;

	&.star1{
		background-image: url("icons/star1.png");
	}
	&.star2{
		background-image: url("icons/star2.png");
	}
	&.star3{
		background-image: url("icons/star3.png");
	}
}

.s-hide{
	@media screen and (max-width: $materialize-break-small) {
		display: none;
	}
}

.baitDetail{

	display: table;
	//border-collapse:collapse;
  border-spacing: 2px 0;

	// Center
	margin: 0 auto 0 auto;

	@media screen and (max-width: $materialize-break-small) {
		// Right
		margin: 0 0 0 auto;
	}

	.baitRow{
		display:table-row;
	}
	.baitCube{
		border: 1px solid grey;
		width: 18px;
		height: 18px;
		display: table-cell;
    box-sizing: content-box;

		&[active=false]{
			//opacity: 0.3;
			visibility: hidden;
			@media screen and (max-width: $materialize-break-small) {
				display: none;
			}
		}
	}

}
