<div class="section">
	<h5>About StreetPass Tips</h5>
	<p>StreetPass Tips is a website by @Drallieiv which goal is to provide a helpfull database about StreetPass Games, both in English and French</p>
</div>

<div class="section">
	<h5>Sources</h5>
	<p>Most of the data comes from existing GameFaqs forum posts and FAQ. Which also comes from the Japanese Wiki.</p>
	<p>All French Translations come from my own experience.</p>
</div>