<nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="#" class="brand-logo">StreetPass Tips</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="fishing">Ultimate Angler</a></li>
			<!-- <li><a href="flowers">Flower Town</a></li> -->
			<li><a href="about">About</a></li>
		</ul>
	</div>
</nav>

<div class="container site-content">
	<div class="section">
		{{outlet}}
	</div>
</div>


{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}